<header class="header">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1512 70" fill="none">
    <path d="M0 0H1512V70V70C1496.58 70 1482.84 60.28 1477.7 45.7419L1476.27 41.6912C1470.27 24.7255 1454.23 13.3824 1436.23 13.3824H1358.05C1339.68 13.3824 1323.17 24.6059 1316.41 41.6912V41.6912C1309.66 58.7765 1293.15 70 1274.77 70H239.071C220.761 70 203.915 59.9917 195.159 43.9111L190.307 35L185.454 26.0889C176.698 10.0083 159.853 0 141.543 0H0Z" fill="#66D1DA"/>
    </svg>

  <div class="overlay-content">
    <div class="logo-container">
      <img src="./Assets/Logo.png" alt="Poseidon's Trident Logo" class="logo-image" />
      <div>
      <h1 class="logo-text">POSEIDON's</h1>
      <h1 class="logo-text">Trident</h1>
    </div>
    </div>

    <nav class="navigation">
      <ul class="nav-list">
        <li><a href="#" class="nav-link">Home</a></li>
        <li><a href="#" class="nav-link">Movies</a></li>
        <li><a href="#" class="nav-link">Top Airing</a></li>
        <li><a href="#" class="nav-link">Popular</a></li>
      </ul>
    </nav>
    
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/05bd4cc321207609a6640b50c0b44b52ebaec91a956a06d2505aaa788cf064bb?placeholderIfAbsent=true&apiKey=fca7067c749e43948b84c240f6267690" alt="Decorative element" class="decorative-image" />
  </div>
</header>



<!--
<div>
  
  <div>

  </div>
  <div>

  </div>
  <div>

  </div>
</div>
-->